## Import

In [58]:
from functools import reduce
from glob import glob

import pandas as pd
import numpy as np
import os

## Load

In [6]:
out_data_path = 'C:\\Users\\PC0\\Documents\\datasets\\stock_price\\'
data_path = 'C:\\Users\\PC0\\Documents\\GitHub\\Stock-price-prediction\\datasets\\'

In [43]:
all_files = glob(data_path + "*.csv")

In [45]:
files = [x for x in all_files if "symbol" not in x]

In [52]:
for file in files:
    file_name = file.split(os.path.sep)[-1].split(".csv")[0]
    globals()[file_name] = pd.read_csv(file)
    print(file_name)

bond_df
exchange_df
index_df
materials__df
metal_df

In [55]:
data_list = [index_df, bond_df, exchange_df, materials_df, metal_df]

In [59]:
stock_df = reduce(lambda  left,right: pd.merge(left,right,on=['date'], how='inner'), data_list)

In [61]:
stock_df.shape

(440, 404)

In [70]:
index_df.tail()

,date,kospi_close,kospi_vol,kospi_var,kospi-50_close,kospi-50_vol,kospi-50_var,kosdaq_close,kosdaq_vol,kosdaq_var,...,idx-composite_var,s-p-cnx-nifty_close,s-p-cnx-nifty_vol,s-p-cnx-nifty_var,sensex_close,sensex_vol,sensex_var,vn-30_close,vn-30_vol,vn-30_var
768,2015-03-30,2030.04,439.56M,0.51,1629.91,25.57K,-0.03,646.74,467.26K,1.03,...,0.77,8492.30,138.88B,1.81,27975.86,11.37K,1.88,576.60,36.17K,-1.10
769,2015-03-26,2022.56,342.26M,-0.99,1634.41,29.76K,-1.37,642.53,551.81K,-1.31,...,-0.68,8342.15,288.76B,-2.21,27457.58,13.10K,-2.33,586.70,30.03K,-0.59
770,2015-03-25,2042.81,423.41M,0.07,1657.16,31.43K,-0.23,651.05,534.69K,1.43,...,-0.77,8530.80,165.95B,-0.14,28111.83,17.88K,-0.18,590.17,38.16K,-0.61
771,2015-03-24,2041.37,328.83M,0.23,1660.91,28.63K,-0.05,641.87,525.79K,0.25,...,0.19,8542.95,161.47B,-0.09,28161.72,10.00K,-0.11,593.80,35.14K,-0.71
772,2015-03-23,2036.59,314.90M,-0.03,1661.76,28.00K,0.05,640.29,530.15K,0.03,...,-0.11,8550.90,155.43B,-0.23,28192.02,10.32K,-0.24,598.07,46.21K,-0.94

In [64]:
bond_df.shape

(2149, 49)

In [68]:
materials__df.shape

(2526, 112)

In [69]:
metal_df.shape

(1929, 34)

In [62]:
stock_df.tail()

,date,kospi_close,kospi_vol,kospi_var,kospi-50_close,kospi-50_vol,kospi-50_var,kosdaq_close,kosdaq_vol,kosdaq_var,...,영국_알루미늄_var,은_close,은_vol,은_var,영국_주석_close,영국_주석_vol,영국_주석_var,미국_팔라듐_close,미국_팔라듐_vol,미국_팔라듐_var
435,2018-01-30,2567.74,397.04M,-1.17,2218.56,30.24M,-1.59,920.96,1.24B,-0.66,...,-0.80,18.771,0.02K,-0.36,21627.5,-,-1.35,1040.70,0.00K,-2.97
436,2018-01-29,2598.19,437.48M,0.91,2254.32,27.73M,0.69,927.05,1.28B,1.53,...,-1.47,18.839,0.02K,8.21,21922.5,-,1.35,1072.50,0.00K,-1.26
437,2018-01-23,2536.60,370.01M,1.38,2210.05,35.40M,1.31,894.43,1.05B,2.44,...,-0.86,18.532,0.00K,-0.41,20737.5,-,-0.06,1072.05,0.01K,-0.70
438,2018-01-22,2502.11,342.99M,-0.72,2181.37,27.62M,-1.22,873.09,1.13B,-0.78,...,1.28,18.609,0.00K,8.95,20750.0,-,0.84,1079.60,0.00K,-1.75
439,2018-01-18,2515.81,333.11M,0.02,2208.56,30.59M,0.06,898.19,1.26B,1.31,...,2.26,18.373,0.01K,-1.14,20410.0,-,-0.28,1097.30,-,-1.03