## Import

In [8]:
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
from tqdm import tqdm
from functools import reduce

import numpy as np
import pandas as pd
import re, time
import requests
import pickle
import warnings

warnings.filterwarnings(action='ignore')

In [9]:
import os
os.getcwd()

'C:\\Users\\PC0\\Documents\\GitHub\\Stock-price-prediction\\ipynb\\crawling-code'

In [10]:
out_data_path = 'C:\\Users\\PC0\\Documents\\datasets\\stock_price\\'
data_path = 'C:\\Users\\PC0\\Documents\\GitHub\\Stock-price-prediction\\datasets\\'

* crawling

In [11]:
options = webdriver.ChromeOptions()

options.add_argument("--disable-blink-features=AutomationControlled")
options.add_argument("user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.82 Safari/537.36")

driver = webdriver.Chrome("C:\\Users\\PC0\\Desktop\\chromedriver.exe", options=options)

* agricultural

In [12]:
start_day = "2012/01/01"

In [13]:
urls = ['https://kr.investing.com/commodities/softs',
       'https://kr.investing.com/commodities/energy']

In [14]:
for idx_1, url in enumerate(urls):
    driver.get(url)
    time.sleep(3)
    
    temp_names = driver.find_elements_by_css_selector("table#cross_rate_1 tbody tr td.bold.left.noWrap.elp.plusIconTd a")
    names = [re.sub(" ","_",x.text) for x in temp_names]
    urls = [x.get_attribute("href") + "-historical-data" for x in temp_names]
    index_names = [(x.split("/")[-1]).split("-historical")[0] for x in urls]
    
    if idx_1 == 0:
        symbol_df = pd.DataFrame({"symbol":index_names,
                                 "name":names,
                                 "url":urls})
    else:
        temp_df = pd.DataFrame({"symbol":index_names,
                                 "name":names,
                                 "url":urls})
        symbol_df = symbol_df.append(temp_df)
        
    
    # inner loop
    index_list = []
    start_idx = 0

    for idx, url in tqdm(enumerate(urls[start_idx:])):
        driver.get(url)
        time.sleep(5)

        # 날짜 입력란
        tmp_date = driver.find_element_by_css_selector("div#widgetFieldDateRange")
        tmp_date.click()
        driver.implicitly_wait(3)

        tmp_input = driver.find_element_by_css_selector("input#startDate")
        time.sleep(0.5)

        # 기존 날짜 지우기
        for _ in range(11) :
            tmp_input.send_keys(Keys.BACKSPACE)
            tmp_input = driver.find_element_by_css_selector("input#startDate")
            time.sleep(0.5)

        tmp_input.send_keys(start_day)

        # 요청 버튼
        request_btn = driver.find_element_by_css_selector("a#applyBtn")
        request_btn.click()
        time.sleep(5)

        tables = driver.find_elements_by_css_selector("table#curr_table")

        values = tables[0].text.split("\n")[1:]

        values = [re.sub("[^0-9a-zA-Z.\\- ]","",x) for x in values]

        name = names[idx]

        index_dict = {"date":[],
                     "{}_close".format(name):[],
                     "{}_vol".format(name):[],
                     "{}_var".format(name):[]}

        for val in values:
            year, month, day, close, _, _, _, volume, variation= val.split(" ")
            date = "-".join([year, month, day])
            index_dict['date'].append(date)
            index_dict['{}_close'.format(name)].append(close)
            index_dict['{}_vol'.format(name)].append(volume)
            index_dict['{}_var'.format(name)].append(variation)

        index_list.append(pd.DataFrame.from_dict(index_dict, orient = "index").T)
        start_idx += 1
        
        if idx_1 == 0:
            index_df = reduce(lambda  left,right: pd.merge(left,right,on=['date'], how='outer'), index_list)
        else :
            temp_df = reduce(lambda  left,right: pd.merge(left,right,on=['date'], how='outer'), index_list)
            index_df = pd.merge(index_df, temp_df, on = "date", how = "outer")

9it [03:34, 23.87s/it]
7it [02:42, 23.21s/it]

In [15]:
index_df = index_df.sort_values("date", ascending = False)

In [16]:
index_df.shape

(3010, 112)

In [17]:
index_df.tail()

,date,런던_설탕_close,런던_설탕_vol,런던_설탕_var,런던_커피_close,런던_커피_vol,런던_커피_var,런던_코코아_close,런던_코코아_vol,런던_코코아_var,...,런던_가스_오일_var_y,브렌트유_close,브렌트유_vol,브렌트유_var,천연가스_close_y,천연가스_vol_y,천연가스_var_y,탄소배출권_close,탄소배출권_vol,탄소배출권_var
2589,2012-01-06,604.00,3.60K,0.08,1704.00,0.26K,-3.07,1335.00,7.80K,0.23,...,-0.59,113.06,190.83K,0.28,3.062,115.52K,2.75,6.30,0.66K,-2.02
2590,2012-01-05,603.50,5.16K,-4.54,1758.00,0.10K,-2.12,1332.00,7.37K,-0.97,...,0.18,112.74,205.41K,-0.84,2.980,163.14K,-3.75,6.43,0.30K,2.55
2591,2012-01-04,632.20,3.97K,0.40,1796.00,0.08K,-0.22,1345.00,5.30K,-1.47,...,1.18,113.70,221.27K,1.40,3.096,133.51K,3.44,6.27,2.20K,-0.16
2592,2012-01-03,629.70,6.41K,4.69,1800.00,1.00K,-0.55,1365.00,5.99K,-1.23,...,2.90,112.13,178.62K,4.42,2.993,106.19K,0.13,6.28,0.31K,-12.11
2593,2012-01-02,601.50,-,-0.08,1810.00,-,2.49,1382.00,-,0.14,...,0.28,NaN,NaN,NaN,NaN,NaN,NaN,7.14,-,2.51

In [18]:
symbol_df.to_csv(data_path + "materials_symbol_df.csv", index = False)
index_df.to_csv(data_path + "materials_df.csv", index = False)