## Import

In [1]:
from functools import reduce
from glob import glob

import pandas as pd
import numpy as np
import os
import re

## Load

In [2]:
out_data_path = 'C:\\Users\\PC0\\Documents\\datasets\\stock_price\\'
data_path = 'C:\\Users\\PC0\\Documents\\GitHub\\Stock-price-prediction\\datasets\\'

In [3]:
all_files = glob(data_path + "*.csv")

In [4]:
files = [x for x in all_files if "symbol" not in x]

In [5]:
for file in files:
    file_name = file.split(os.path.sep)[-1].split(".csv")[0]
    globals()[file_name] = pd.read_csv(file)
    print(file_name)

bond_df
exchange_df
index_df
materials_df
metal_df

In [6]:
data_list = [index_df, bond_df, exchange_df, materials_df, metal_df]

In [7]:
stock_df = reduce(lambda  left,right: pd.merge(left,right,on=['date'], how='inner'), data_list)
stock_df.replace("-",np.NaN, inplace = True)

In [8]:
stock_df.shape

(3000, 401)

In [63]:
print(bond_df.shape, exchange_df.shape, index_df.shape, materials_df.shape, metal_df.shape)

(3717, 49) (3711, 83) (3282, 127) (3010, 112) (3176, 34)

### Missing data processing

* target value NaN - 제거

In [9]:
target_col = 'kospi-200_close'

In [10]:
not_nan = stock_df.loc[:, target_col].isnull()
stock_df = stock_df.loc[~not_nan, :]
stock_df.index = [x for x in range(stock_df.shape[0])]

In [11]:
stock_df.shape

(2501, 401)

* text 2 nums

In [12]:
def text2num(x):
    if type(x) == float:
        return x
    else:
        text = re.findall('[KMB]',x)[0]
        if len(text) == 0:
            output = np.float(x)
        elif text == "K" :
            num = np.float(re.sub('[KBM]',"",x))
            output = num * 1000
        elif text == "M" :
            num = np.float(re.sub('[KBM]',"",x))
            output = num * 1000000
        elif text == "B" :
            num = np.float(re.sub('[KBM]',"",x))
            output = num * 1000000000
        return output

def apply_txt(x):
    return [text2num(z) for z in x]

In [13]:
vol_columns = [x for x in stock_df.columns if "vol" in x]

In [14]:
temp_df = stock_df.loc[:, vol_columns]
temp_df = temp_df.apply(apply_txt, axis = 0)
stock_df.loc[:, vol_columns] = temp_df

In [15]:
stock_df.head()

,date,kosdaq_close,kosdaq_vol,kosdaq_var,us-30_close,us-30_vol,us-30_var,us-spx-500_close,us-spx-500_vol,us-spx-500_var,...,영국_알루미늄_var,은_close,은_vol,은_var,영국_주석_close,영국_주석_vol,영국_주석_var,미국_팔라듐_close,미국_팔라듐_vol,미국_팔라듐_var
0,2022-03-08,870.14,9.645500e+05,-1.29,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,26.140,NaN,1.63,NaN,NaN,NaN,3091.52,NaN,3.74
1,2022-03-07,881.54,8.506800e+05,-2.16,32813.56,473570000.0,-2.38,4201.09,NaN,-2.95,...,-2.83,25.720,NaN,-1.96,NaN,NaN,NaN,2980.00,NaN,-4.50
2,2022-03-04,900.96,1.000000e+09,-1.25,33614.67,395920000.0,-0.53,4328.87,NaN,-0.79,...,3.57,25.789,70860.0,2.29,47540.0,1180.0,2.43,2990.00,NaN,8.23
3,2022-03-03,912.32,1.060000e+09,1.88,33794.96,355100000.0,-0.28,4363.49,NaN,-0.53,...,4.13,25.212,57470.0,0.09,46412.0,980.0,1.72,2762.52,NaN,4.01
4,2022-03-02,895.45,1.040000e+09,1.63,33889.96,387960000.0,1.79,4386.54,NaN,1.86,...,2.62,25.190,69470.0,-1.37,45628.0,690.0,-0.34,2656.02,NaN,1.82

* column별 NaN 비율 확인

In [20]:
total_nums = stock_df.shape[0]

# 0.2 기준으로 제거
del_cols = (stock_df.isnull().sum(axis = 0) / total_nums).sort_values(ascending = False) > 0.2

max_idx = np.max(np.where(del_cols)[0])
del_cols = del_cols.index[:max_idx+1]

stock_df = stock_df.loc[:, ~stock_df.columns.isin(del_cols)]

In [21]:
stock_df.head()

,date,kosdaq_close,kosdaq_vol,kosdaq_var,us-30_close,us-30_vol,us-30_var,us-spx-500_close,us-spx-500_var,nasdaq-composite_close,...,영국_아연_close,영국_아연_vol,영국_아연_var,은_close,은_vol,은_var,영국_주석_close,영국_주석_var,미국_팔라듐_close,미국_팔라듐_var
0,2022-03-08,870.14,9.645500e+05,-1.29,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,26.140,NaN,1.63,NaN,NaN,3091.52,3.74
1,2022-03-07,881.54,8.506800e+05,-2.16,32813.56,473570000.0,-2.38,4201.09,-2.95,12830.96,...,4112.5,NaN,1.52,25.720,NaN,-1.96,NaN,NaN,2980.00,-4.50
2,2022-03-04,900.96,1.000000e+09,-1.25,33614.67,395920000.0,-0.53,4328.87,-0.79,13313.44,...,4051.0,31930.0,3.33,25.789,70860.0,2.29,47540.0,2.43,2990.00,8.23
3,2022-03-03,912.32,1.060000e+09,1.88,33794.96,355100000.0,-0.28,4363.49,-0.53,13537.94,...,3920.5,42980.0,1.54,25.212,57470.0,0.09,46412.0,1.72,2762.52,4.01
4,2022-03-02,895.45,1.040000e+09,1.63,33889.96,387960000.0,1.79,4386.54,1.86,13752.02,...,3861.0,44590.0,3.07,25.190,69470.0,-1.37,45628.0,-0.34,2656.02,1.82

In [22]:
(stock_df.isnull().sum(axis = 0) / total_nums).sort_values(ascending = False)

비트코인/유로_var           0.168733
비트코인/유로_close         0.168733
런던_커피_vol             0.138745
dj-shanghai_var       0.136345
dj-shanghai_close     0.136345
                        ...
호주_달러/스위스_프랑_close    0.000000
호주_달러/스위스_프랑_var      0.000000
파운드/뉴질랜드_달러_close     0.000000
파운드/뉴질랜드_달러_var       0.000000
유로/캐나다_달러_close       0.000000
Length: 372, dtype: float64

* row별 NaN 비율 확인

columns보다는 보수적으로 설정 0.1

In [23]:
total_nums2 = stock_df.shape[1]

In [45]:
del_rows = (stock_df.isnull().sum(axis = 1) / total_nums2).sort_values(ascending = False) > 0.1
max_idx = np.max(np.where(del_rows)[0])

In [46]:
del_rows = del_rows.index[:max_idx+1]
del_rows = [x for x in range(stock_df.shape[0]) if x not in del_rows]

In [47]:
stock_df = stock_df.iloc[del_rows,:]
stock_df.index = [x for x in range(stock_df.shape[0])]

In [48]:
stock_df.shape

(2411, 372)

* imputation

In [54]:
from missingpy import MissForest

C:\Users\PC0\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [55]:
imputer = MissForest()

In [57]:
imputed_x = imputer.fit_transform(stock_df.iloc[:, 1:])

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4

In [59]:
stock_df.iloc[:, 1:] = imputed_x

In [72]:
stock_df.head()

,date,kosdaq_close,kosdaq_vol,kosdaq_var,us-30_close,us-30_vol,us-30_var,us-spx-500_close,us-spx-500_var,nasdaq-composite_close,...,영국_아연_close,영국_아연_vol,영국_아연_var,은_close,은_vol,은_var,영국_주석_close,영국_주석_var,미국_팔라듐_close,미국_팔라듐_var
0,2022-03-07,881.54,8.506800e+05,-2.16,32813.56,473570000.0,-2.38,4201.09,-2.95,12830.96,...,4112.5,32268.4,1.52,25.720,34018.2,-1.96,45725.74,-2.1319,2980.00,-4.50
1,2022-03-04,900.96,1.000000e+09,-1.25,33614.67,395920000.0,-0.53,4328.87,-0.79,13313.44,...,4051.0,31930.0,3.33,25.789,70860.0,2.29,47540.00,2.4300,2990.00,8.23
2,2022-03-03,912.32,1.060000e+09,1.88,33794.96,355100000.0,-0.28,4363.49,-0.53,13537.94,...,3920.5,42980.0,1.54,25.212,57470.0,0.09,46412.00,1.7200,2762.52,4.01
3,2022-03-02,895.45,1.040000e+09,1.63,33889.96,387960000.0,1.79,4386.54,1.86,13752.02,...,3861.0,44590.0,3.07,25.190,69470.0,-1.37,45628.00,-0.3400,2656.02,1.82
4,2022-02-28,881.07,1.070000e+09,0.93,33879.55,412860000.0,-0.53,4373.79,-0.25,13751.40,...,3666.0,26160.0,1.23,24.366,55280.0,-0.38,45224.00,1.7000,2487.52,0.24

In [75]:
stock_df.sort_values("date", inplace = True)
stock_df.index = [x for x in range(stock_df.shape[0])]

In [78]:
# stock_df.to_csv(data_path + "stock_df_01.csv", index =False)

* target value leading

In [104]:
t_value = stock_df[target_col].shift(-1)
stock_df['target'] = t_value
stock_df = stock_df.iloc[:-1,:]
t_diff = stock_df['target'] - stock_df[target_col]
c_target = ["Up" if x >= 0 else "Down" for x in t_diff]
stock_df['c_target'] = c_target

In [110]:
var_cols = [x for x in stock_df.columns if "var" in x]

In [111]:
stock_df.loc[:, var_cols]

,kosdaq_var,us-30_var,us-spx-500_var,nasdaq-composite_var,smallcap-2000_var,volatility-s-p-500_var,s-p-tsx-composite_var,bovespa_var,ipc_var,germany-30_var,...,미국_구리_var,영국_구리_var,금_var,영국_납_var,영국_니켈_var,미국_백금_var,영국_아연_var,은_var,영국_주석_var,미국_팔라듐_var
0,1.39,1.47,1.55,1.67,1.53,-1.84,2.12,2.4800,0.13,1.50,...,2.71,2.47,2.17,3.16,0.99,1.96,1.83,4.88,4.13,1.42
1,0.48,0.17,0.02,-0.01,-0.66,-3.27,0.15,0.1700,0.01,-0.89,...,-2.72,-3.23,0.76,-1.87,-0.57,-0.71,-0.42,-1.59,-1.98,-2.24
2,1.10,-0.02,0.29,0.81,0.67,-3.33,0.09,-1.3800,-0.99,-0.25,...,-0.20,-0.03,0.47,-2.72,-0.63,-0.34,-1.90,0.70,1.32,-1.46
3,-0.58,-0.45,-0.25,0.16,-0.34,-3.96,-0.40,0.0900,-0.58,-0.62,...,0.26,0.53,-0.20,-2.50,0.34,-1.03,1.07,-2.09,-0.04,-3.79
4,0.26,0.27,0.23,0.09,0.51,2.13,0.07,0.8200,-0.05,-0.67,...,-0.52,-1.08,-0.53,0.36,1.80,2.01,1.60,-0.34,-0.31,0.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2405,2.92,2.52,2.24,1.64,2.25,-9.00,1.66,1.3900,2.14,3.67,...,0.54,0.09,-2.01,1.07,-1.44,-0.14,-0.54,-2.80,-1.59,-2.00
2406,0.93,-0.53,-0.25,0.41,0.35,9.28,0.10,-0.0131,1.61,-0.73,...,-0.68,0.11,0.69,0.78,-0.32,-1.63,1.23,-0.38,1.70,0.24
2407,1.63,1.79,1.86,1.62,2.51,-7.74,1.20,1.8000,0.25,0.69,...,1.50,1.04,-1.11,-0.35,3.09,1.21,3.07,-1.37,-0.34,1.82
2408,1.88,-0.28,-0.53,-1.56,-1.29,-0.85,-0.02,-0.0100,0.43,-2.16,...,2.49,1.82,0.71,0.31,3.93,0.85,1.54,0.09,1.72,4.01
2409,-1.25,-0.53,-0.79,-1.66,-1.55,4.92,0.72,-0.6000,-0.38,-4.41,...,3.26,3.12,1.59,2.12,7.52,4.10,3.33,2.29,2.43,8.23

In [108]:
stock_df.columns

Index(['date', 'kosdaq_close', 'kosdaq_vol', 'kosdaq_var', 'us-30_close',
       'us-30_vol', 'us-30_var', 'us-spx-500_close', 'us-spx-500_var',
       'nasdaq-composite_close',
       ...
       '영국_아연_var', '은_close', '은_vol', '은_var', '영국_주석_close', '영국_주석_var',
       '미국_팔라듐_close', '미국_팔라듐_var', 'target', 'c_target'],
      dtype='object', length=374)

In [107]:
stock_df.loc[:, [target_col, 'target', 'c_target']]

      kospi-200_close  target c_target
0              245.82  244.24     Down
1              244.24  243.56     Down
2              243.56  240.57     Down
3              240.57  238.02     Down
4              238.02  241.69       Up
...               ...     ...      ...
2405           358.44  361.54       Up
2406           361.54  360.59     Down
2407           360.59  367.06       Up
2408           367.06  361.69     Down
2409           361.69  353.03     Down

[2410 rows x 3 columns]