## Import

In [1]:
from functools import reduce
from glob import glob

import pandas as pd
import numpy as np
import os
import re

## Load

In [32]:
out_data_path = 'C:\\Users\\PC0\\Documents\\datasets\\stock_price\\'
data_path = 'C:\\Users\\PC0\\Documents\\GitHub\\Stock-price-prediction\\datasets\\'

In [33]:
all_files = glob(data_path + "*.csv")

files = [x for x in all_files if "symbol" not in x]

In [34]:
for file in files:
    file_name = file.split(os.path.sep)[-1].split(".csv")[0]
    globals()[file_name] = pd.read_csv(file)
    print(file_name)

before_nan
before_nan2
bond_df
exchange_df
index_df
materials_df
metal_df
predict_lgbm_adj_999
stock_df_01
temp_stock_df

In [35]:
data_list = [index_df, bond_df, exchange_df, materials_df, metal_df]

In [36]:
stock_df = reduce(lambda  left,right: pd.merge(left,right,on=['date'], how='inner'), data_list)
stock_df.replace("-",np.NaN, inplace = True)

In [37]:
stock_df.shape

(3000, 401)

In [38]:
print(bond_df.shape, exchange_df.shape, index_df.shape, materials_df.shape, metal_df.shape)

(3717, 49) (3711, 83) (3282, 127) (3010, 112) (3176, 34)

In [39]:
stock_df.head()

,date,kosdaq_close,kosdaq_vol,kosdaq_var,us-30_close,us-30_vol,us-30_var,us-spx-500_close,us-spx-500_vol,us-spx-500_var,...,영국_알루미늄_var,은_close,은_vol,은_var,영국_주석_close,영국_주석_vol,영국_주석_var,미국_팔라듐_close,미국_팔라듐_vol,미국_팔라듐_var
0,2022-03-08,870.14,964.55K,-1.29,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,26.140,NaN,1.63,NaN,NaN,NaN,3091.52,NaN,3.74
1,2022-03-07,881.54,850.68K,-2.16,32813.56,473.57M,-2.38,4201.09,NaN,-2.95,...,-2.83,25.720,NaN,-1.96,NaN,NaN,NaN,2980.00,NaN,-4.50
2,2022-03-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,26.235,NaN,1.73,NaN,NaN,NaN,3120.27,NaN,4.36
3,2022-03-04,900.96,1.00B,-1.25,33614.67,395.92M,-0.53,4328.87,NaN,-0.79,...,3.57,25.789,70.86K,2.29,47540.0,1.18K,2.43,2990.00,NaN,8.23
4,2022-03-03,912.32,1.06B,1.88,33794.96,355.10M,-0.28,4363.49,NaN,-0.53,...,4.13,25.212,57.47K,0.09,46412.0,0.98K,1.72,2762.52,NaN,4.01

In [40]:
stock_df.tail()

,date,kosdaq_close,kosdaq_vol,kosdaq_var,us-30_close,us-30_vol,us-30_var,us-spx-500_close,us-spx-500_vol,us-spx-500_var,...,영국_알루미늄_var,은_close,은_vol,은_var,영국_주석_close,영국_주석_vol,영국_주석_var,미국_팔라듐_close,미국_팔라듐_vol,미국_팔라듐_var
2995,2012-01-06,518.94,626.02K,-0.58,12359.92,131.12M,-0.45,1277.81,NaN,-0.25,...,NaN,28.653,0.08K,-2.09,19807.0,0.83K,-0.04,616.1,NaN,-3.79
2996,2012-01-05,521.96,654.30K,1.10,12415.70,158.44M,-0.02,1281.06,NaN,0.29,...,NaN,29.265,0.03K,0.70,19814.0,1.79K,1.32,640.4,NaN,-1.46
2997,2012-01-04,516.30,652.09K,0.48,12418.42,145.13M,0.17,1277.30,NaN,0.02,...,NaN,29.063,0.07K,-1.59,19555.0,1.25K,-1.98,649.9,NaN,-2.24
2998,2012-01-03,513.83,590.99K,1.39,12397.38,152.56M,1.47,1277.06,NaN,1.55,...,NaN,29.533,0.14K,4.88,19949.0,0.47K,4.13,664.8,NaN,1.42
2999,2012-01-02,506.79,433.45K,1.32,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,28.160,NaN,1.02,NaN,NaN,NaN,655.5,NaN,-0.12

### Missing data processing

* target value NaN - 제거

In [41]:
target_col = 'kospi-200_close'

In [42]:
def text2num(x):
    if type(x) == float:
        return x
    else:
        text = re.findall('[KMB]',x)[0]
        if len(text) == 0:
            output = np.float(x)
        elif text == "K" :
            num = np.float(re.sub('[KBM]',"",x))
            output = num * 1000
        elif text == "M" :
            num = np.float(re.sub('[KBM]',"",x))
            output = num * 1000000
        elif text == "B" :
            num = np.float(re.sub('[KBM]',"",x))
            output = num * 1000000000
        return output

def apply_txt(x):
    return [text2num(z) for z in x]

In [43]:
def basic_preproc(data, target_col = 'kospi-200_close'):
    stock_df = data
    
    # target null 삭제
    not_nan = stock_df.loc[:, target_col].isnull()
    stock_df = stock_df.loc[~not_nan, :]
    stock_df.index = [x for x in range(stock_df.shape[0])]

    vol_columns = [x for x in stock_df.columns if "vol" in x]

    temp_df = stock_df.loc[:, vol_columns]
    temp_df = temp_df.apply(apply_txt, axis = 0)
    stock_df.loc[:, vol_columns] = temp_df

    total_nums = stock_df.shape[0]

    # 0.2 기준으로 제거
    del_cols = (stock_df.isnull().sum(axis = 0) / total_nums).sort_values(ascending = False) > 0.2

    max_idx = np.max(np.where(del_cols)[0])
    del_cols = del_cols.index[:max_idx+1]

    stock_df = stock_df.loc[:, ~stock_df.columns.isin(del_cols)]

    total_nums2 = stock_df.shape[1]

    del_rows = (stock_df.isnull().sum(axis = 1) / total_nums2).sort_values(ascending = False) > 0.1
    max_idx = np.max(np.where(del_rows)[0])

    del_rows = del_rows.index[:max_idx+1]
    del_rows = [x for x in range(stock_df.shape[0]) if x not in del_rows]

    stock_df = stock_df.iloc[del_rows,:]
    stock_df.index = [x for x in range(stock_df.shape[0])]

    del_cols = [x for x in stock_df.columns if ("x." in x) or ("_y" in x) or ("_x" in x)]
    stock_df = stock_df.loc[:, ~stock_df.columns.isin(del_cols)]
    
    stock_df.sort_values("date", inplace = True)
    stock_df.index = [x for x in range(stock_df.shape[0])]
    
    return stock_df

In [44]:
stock_df = basic_preproc(stock_df)

<ipython-input-42-f974efb500b5>:9: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  num = np.float(re.sub('[KBM]',"",x))
<ipython-input-42-f974efb500b5>:15: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  num = np.float(re.sub('[KBM]',"",x))
<ipython-input-42-f974efb500b5>:12: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  num = np.float(re.sub('[KBM]',"",x))
C:\Users\PC0\anaconda3\lib\site-packages\pandas\core\indexing.py:1787: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, val, pi)

In [45]:
stock_df.head()

,date,kosdaq_close,kosdaq_vol,kosdaq_var,us-30_close,us-30_vol,us-30_var,us-spx-500_close,us-spx-500_var,nasdaq-composite_close,...,영국_아연_close,영국_아연_vol,영국_아연_var,은_close,은_vol,은_var,영국_주석_close,영국_주석_var,미국_팔라듐_close,미국_팔라듐_var
0,2012-01-03,513.83,590990.0,1.39,12397.38,152560000.0,1.47,1277.06,1.55,2648.72,...,1864.25,9410.0,1.83,29.533,140.0,4.88,19949.0,4.13,664.8,1.42
1,2012-01-04,516.30,652090.0,0.48,12418.42,145130000.0,0.17,1277.30,0.02,2648.36,...,1856.50,8430.0,-0.42,29.063,70.0,-1.59,19555.0,-1.98,649.9,-2.24
2,2012-01-05,521.96,654300.0,1.10,12415.70,158440000.0,-0.02,1281.06,0.29,2669.86,...,1821.25,7720.0,-1.90,29.265,30.0,0.70,19814.0,1.32,640.4,-1.46
3,2012-01-06,518.94,626020.0,-0.58,12359.92,131120000.0,-0.45,1277.81,-0.25,2674.22,...,1840.75,7120.0,1.07,28.653,80.0,-2.09,19807.0,-0.04,616.1,-3.79
4,2012-01-09,520.28,617370.0,0.26,12392.69,122200000.0,0.27,1280.70,0.23,2676.56,...,1870.25,9620.0,1.60,28.749,60.0,-0.34,19746.0,-0.31,620.0,0.63

In [46]:
stock_df.tail()

,date,kosdaq_close,kosdaq_vol,kosdaq_var,us-30_close,us-30_vol,us-30_var,us-spx-500_close,us-spx-500_var,nasdaq-composite_close,...,영국_아연_close,영국_아연_vol,영국_아연_var,은_close,은_vol,은_var,영국_주석_close,영국_주석_var,미국_팔라듐_close,미국_팔라듐_var
2405,2022-02-28,881.07,1.070000e+09,0.93,33879.55,412860000.0,-0.53,4373.79,-0.25,13751.40,...,3666.0,26160.0,1.23,24.366,55280.0,-0.38,45224.0,1.70,2487.52,0.24
2406,2022-03-02,895.45,1.040000e+09,1.63,33889.96,387960000.0,1.79,4386.54,1.86,13752.02,...,3861.0,44590.0,3.07,25.190,69470.0,-1.37,45628.0,-0.34,2656.02,1.82
2407,2022-03-03,912.32,1.060000e+09,1.88,33794.96,355100000.0,-0.28,4363.49,-0.53,13537.94,...,3920.5,42980.0,1.54,25.212,57470.0,0.09,46412.0,1.72,2762.52,4.01
2408,2022-03-04,900.96,1.000000e+09,-1.25,33614.67,395920000.0,-0.53,4328.87,-0.79,13313.44,...,4051.0,31930.0,3.33,25.789,70860.0,2.29,47540.0,2.43,2990.00,8.23
2409,2022-03-07,881.54,8.506800e+05,-2.16,32813.56,473570000.0,-2.38,4201.09,-2.95,12830.96,...,4112.5,NaN,1.52,25.720,NaN,-1.96,NaN,NaN,2980.00,-4.50

* imputation

In [17]:
from missingpy import MissForest

C:\Users\PC0\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [19]:
imputer = MissForest()

In [20]:
imputed_x = imputer.fit_transform(stock_df.iloc[:, 1:])

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3

In [47]:
stock_df.iloc[:, 1:] = imputed_x

In [48]:
stock_df.head()

,date,kosdaq_close,kosdaq_vol,kosdaq_var,us-30_close,us-30_vol,us-30_var,us-spx-500_close,us-spx-500_var,nasdaq-composite_close,...,영국_아연_close,영국_아연_vol,영국_아연_var,은_close,은_vol,은_var,영국_주석_close,영국_주석_var,미국_팔라듐_close,미국_팔라듐_var
0,2012-01-03,513.83,590990.0,1.39,12397.38,152560000.0,1.47,1277.06,1.55,2648.72,...,1864.25,9410.0,1.83,29.533,140.0,4.88,19949.0,4.13,664.8,1.42
1,2012-01-04,516.30,652090.0,0.48,12418.42,145130000.0,0.17,1277.30,0.02,2648.36,...,1856.50,8430.0,-0.42,29.063,70.0,-1.59,19555.0,-1.98,649.9,-2.24
2,2012-01-05,521.96,654300.0,1.10,12415.70,158440000.0,-0.02,1281.06,0.29,2669.86,...,1821.25,7720.0,-1.90,29.265,30.0,0.70,19814.0,1.32,640.4,-1.46
3,2012-01-06,518.94,626020.0,-0.58,12359.92,131120000.0,-0.45,1277.81,-0.25,2674.22,...,1840.75,7120.0,1.07,28.653,80.0,-2.09,19807.0,-0.04,616.1,-3.79
4,2012-01-09,520.28,617370.0,0.26,12392.69,122200000.0,0.27,1280.70,0.23,2676.56,...,1870.25,9620.0,1.60,28.749,60.0,-0.34,19746.0,-0.31,620.0,0.63

In [49]:
np.where(stock_df.values == np.infty)

(array([], dtype=int64), array([], dtype=int64))

In [51]:
stock_df.iloc[710:720, 111]

710    364.71
711     -9.52
712      3.95
713     30.38
714      1.94
715      3.81
716      2.75
717     21.95
718      5.00
719     23.81
Name: germany-1_var, dtype: float64

* value leading

In [77]:
def make_var(x):
    now = x[1:]
    past = x.shift(1)[1:]
    
    return ((now - past) / (past+0.0001)) * 100

In [78]:
def basic_preproc2(data, target_col = 'kospi-200_close'):
    stock_df = data
    t_value = stock_df[target_col].shift(-1)
    stock_df['target'] = t_value

    vol_cols = [x for x in stock_df.columns if "_vol" in x]
    vol_df = stock_df.loc[:, stock_df.columns.isin(vol_cols)]

    var_cols = [x for x in stock_df.columns if "_close" in x]
    var_df = stock_df.loc[:, stock_df.columns.isin(var_cols)]

    stock_df = stock_df.iloc[1:, :]

    stock_df.loc[:, stock_df.columns.isin(vol_cols)] = vol_df.apply(make_var)

    var_cols = [x for x in stock_df.columns if "_var" in x]
    stock_df.loc[:, stock_df.columns.isin(var_cols)] = var_df.apply(make_var).values
    
    stock_df = stock_df.iloc[:-1,:]
    stock_df.index = [x for x in range(stock_df.shape[0])]

    t_diff = stock_df['target'] - stock_df[target_col]
    c_target = ["Up" if x >= 0 else "Down" for x in t_diff]
    stock_df['c_target'] = c_target
    
    return stock_df

In [79]:
stock_df = basic_preproc2(stock_df)

C:\Users\PC0\anaconda3\lib\site-packages\pandas\core\indexing.py:1787: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, val, pi)
C:\Users\PC0\anaconda3\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

In [80]:
stock_df.head()

,date,kosdaq_close,kosdaq_vol,kosdaq_var,us-30_close,us-30_vol,us-30_var,us-spx-500_close,us-spx-500_var,nasdaq-composite_close,...,영국_아연_var,은_close,은_vol,은_var,영국_주석_close,영국_주석_var,미국_팔라듐_close,미국_팔라듐_var,target,c_target
0,2012-01-04,516.30,10.338584,0.480704,12418.42,-4.870215,0.169713,1277.30,0.018793,2648.36,...,-0.415717,29.063,-49.999964,-1.591435,19555.0,-1.975036,649.9,-2.241275,243.56,Down
1,2012-01-05,521.96,0.338910,1.096262,12415.70,9.171088,-0.021903,1281.06,0.294371,2669.86,...,-1.898734,29.265,-57.142776,0.695039,19814.0,1.324469,640.4,-1.461763,240.57,Down
2,2012-01-06,518.94,-4.322176,-0.578588,12359.92,-17.243120,-0.449270,1277.81,-0.253696,2674.22,...,1.070693,28.653,166.666111,-2.091228,19807.0,-0.035329,616.1,-3.794503,238.02,Down
3,2012-01-09,520.28,-1.381745,0.258219,12392.69,-6.802929,0.265131,1280.70,0.226168,2676.56,...,1.602608,28.749,-24.999969,0.335042,19746.0,-0.307972,620.0,0.633014,241.69,Up
4,2012-01-10,525.74,-7.664772,1.049435,12462.47,15.572831,0.563074,1292.08,0.888576,2702.50,...,2.807111,29.783,66.666556,3.596634,20219.0,2.395422,636.9,2.725806,240.83,Down

In [81]:
stock_df.tail()

,date,kosdaq_close,kosdaq_vol,kosdaq_var,us-30_close,us-30_vol,us-30_var,us-spx-500_close,us-spx-500_var,nasdaq-composite_close,...,영국_아연_var,은_close,은_vol,은_var,영국_주석_close,영국_주석_var,미국_팔라듐_close,미국_팔라듐_var,target,c_target
2403,2022-02-25,872.98,-18.452381,2.920267,34058.55,-29.465638,2.515345,4384.62,2.236575,13694.62,...,-0.535567,24.017,-25.916144,-2.804521,44470.0,-1.591095,2372.50,-2.004114,361.54,Up
2404,2022-02-28,881.07,-21.897810,0.926711,33879.55,1.915576,-0.525566,4373.79,-0.247000,13751.40,...,1.228773,24.366,-17.884730,1.453131,45224.0,1.695525,2487.52,4.848050,360.59,Down
2405,2022-03-02,895.45,-2.803738,1.632106,33889.96,-6.031100,0.030727,4386.54,0.291509,13752.02,...,5.319149,25.190,25.669320,3.381748,45628.0,0.893331,2656.02,6.773815,367.06,Up
2406,2022-03-03,912.32,1.923077,1.883969,33794.96,-8.469945,-0.280319,4363.49,-0.525471,13537.94,...,1.541052,25.212,-17.273643,0.087336,46412.0,1.718243,2762.52,4.009759,361.69,Down
2407,2022-03-04,900.96,-5.660377,-1.245177,33614.67,11.495353,-0.533482,4328.87,-0.793402,13313.44,...,3.328657,25.789,23.299113,2.288584,47540.0,2.430406,2990.00,8.234510,353.03,Down

In [83]:
stock_df.to_csv(data_path + "stock_df_01.csv", index =False)